@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: "Ubuntu Mono", "monospace";
  line-height: 1.2rem;
  color: #34495e;
  background: #f0f0ea;
  margin: 0;
  padding: 1rem;
  height: calc(100vh - 2rem);
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  text-align: center;
  flex: 0 1 auto;
}

button {
  font-family: "Ubuntu Mono", "monospace"; 
  font-size: 1rem;
  padding: 0.6rem;
  margin: 0.5rem;
  background: #137ed9;
  color: white;
  border: none;
  border-radius: 0.3rem;
}

textarea {
  background: white;
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 1rem;
  flex: 1 0 auto;
  resize: none;
  tab-size: 2;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.textarea-container {
  flex: 1 0 auto;
}

.textarea-container, .export-buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
